<div class="left-side-menu" style="border-right: 5px solid #EBEBEB!important;">

    <div class="h-100" data-simplebar>

        <!-- User box -->
        <div class="user-box text-center">

            <img src="/assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail avatar-md">
            <div class="dropdown">
                <a href="index.html#" class="user-name dropdown-toggle h5 mt-2 mb-1 d-block" data-bs-toggle="dropdown" aria-expanded="false">Super Amin Panel</a>
                <div class="dropdown-menu user-pro-dropdown">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user me-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings me-1"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock me-1"></i>
                        <span>Lock Screen</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-log-out me-1"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </div>

            <p class="text-muted left-user-info">Admin Head</p>

            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="index.html#" class="text-muted left-user-info">
                        <i class="mdi mdi-cog"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="index.html#">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">

                <!-- Dashboard -->
                <!-- <li class="menu-title">Navigation</li> -->
                <li>
                    <a href="/admin/dashboard">
                        <i class="mdi mdi-view-dashboard-outline"></i>
                        <span class="badge bg-success rounded-pill float-end">9+</span>
                        <span> Dashboard </span>
                    </a>
                </li>

                <!-- Product -->
                <li>
                    <a href="index.html#product" data-bs-toggle="collapse">
                        <i class="mdi mdi-clipboard-outline"></i>
                        <span> Product </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="product">
                        <ul class="nav-second-level" style="">
                            <li>
                                <a href="/admin/add_product">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Add Product
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/product_list">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Product List
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/category">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Category
                                    </span>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="barcode_generator.html">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Barcode Generator
                                    </span></a>
                            </li> -->


                        </ul>
                    </div>
                </li>

                <!-- expense -->
                <li>
                    <a href="index.html#expense" data-bs-toggle="collapse">
                        <i class="mdi mdi-clipboard-outline"></i>
                        <span> Expense </span>
                        <span class="menu-arrow"></span>
                    </a>

                    <div class="collapse" id="expense">
                        <ul class="nav-second-level" style="">
                            <li>
                                <a href="/admin/add_expense">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span>Add Expense
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/expense_list">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Expense List
                                    </span>
                                </a>
                            </li>



                        </ul>
                    </div>
                </li>

                <!-- Trading -->
                <!-- <li>
                    <a href="index.html#trading" data-bs-toggle="collapse">
                        <i class="mdi mdi-clipboard-outline"></i>
                        <span> Trading Section </span>
                        <span class="menu-arrow"></span>
                    </a>

                    <div class="collapse" id="trading">
                        <ul class="nav-second-level" style="">
                            <li>
                                <a href="/admin/trading">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Tarding null
                                    </span>
                                </a>
                            </li>


                        </ul>
                    </div>
                </li> -->

                <!-- People -->
                <li>
                    <a href="index.html#People" data-bs-toggle="collapse">
                        <i class="mdi mdi-shopping"></i>
                        <span>People</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="People">
                        <ul class="nav-second-level">
                            <li>
                                <a href="/admin/add_customer">

                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span>Add Customer
                                    </span></a>
                            </li>
                            <li>
                                <a href="/admin/customer_list">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Customer List
                                    </span>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="/admin/add_supplier">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Add Supplier
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/supplier_list">

                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Supplier List
                                    </span>
                                </a>
                            </li> -->

                        </ul>
                    </div>
                </li>

                <!-- user Management -->
                <li>
                    <a href="index.html#UserManagement" data-bs-toggle="collapse">
                        <i class="mdi mdi-shopping"></i>
                        <span>User Management</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="UserManagement">
                        <ul class="nav-second-level">
                            <!-- <li>
                                <a href="/super_admin">

                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Super Admin
                                    </span></a>
                            </li> -->
                            <li>
                                <a href="/admin">

                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Admin
                                    </span></a>
                            </li>

                        </ul>
                    </div>
                </li>

                <!-- Warehouse -->

                <!-- <li class="menu-title">Warehouse</li> -->
                <li>
                    <a href="warehouse.html">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Warehouse </span>
                    </a>
                </li>

                <!-- Reports -->
                <li>
                    <a href="index.html#Reports" data-bs-toggle="collapse">
                        <i class="mdi mdi-shopping"></i>
                        <span>Reports</span>
                        <span class="menu-arrow"></span>
                    </a>

                    <div class="collapse" id="Reports">
                        <ul class="nav-second-level">

                            <li>
                                <a href="/admin/product_report">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Product Report
                                    </span></a>
                            </li>

                            <li>
                                <a href="/admin/expense_report">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Expense Report
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/customer_report">

                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Customer Report
                                    </span>

                                </a>
                            </li>

                            <!-- <li>
                                <a href="/admin/sale_report">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Sale Report
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/purchase_report">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Purchase Report
                                    </span></a>
                            </li> -->

                        </ul>
                    </div>
                </li>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>