<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--favicon-->
  <link rel="icon" href="../../front_assets/img/favicon-32x32.webp" type="image/webp" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />

  <!-- CSS files -->
  <link href="../../front_assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!-- Plugins -->
  <link rel="stylesheet" type="text/css" href="../../front_assets/plugins/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="../../front_assets/plugins/slick/slick-theme.css" />

  <link href="../../front_assets/css/style.css" rel="stylesheet">
  <link href="../../front_assets/css/dark-theme.css" rel="stylesheet">

  <title>Roof</title>
</head>

<body>

  <!--page loader-->
  <div class="loader-wrapper">
    <div class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <!--end loader-->

  <!--start top header-->
  <header class="top-header">
    <nav class="navbar navbar-expand-md w-100 navbar-dark container gap-3">
      <a class="navbar-brand d-xl-inline" href="/"><img src="../../front_assets/img/ribon/ribon.png" style="width: 40px;" alt=""></a>
      <div class="primary-menu">
        <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">

          <li class="nav-item head dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="https://codervent.com/shopingo/demo/shopingo_V1/tv-shows.html" data-bs-toggle="dropdown">
              Men
            </a>
            <div class="dropdown-menu dropdown-large-menu">
              <div class="row">

                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4 d-none d-xl-block">
                  <div class="pramotion-banner1">
                    <img src="img/menu-img.webp" class="img-fluid" alt="" />
                  </div>
                </div>

              </div>
            </div>
          </li>
          <li class="nav-item head dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="https://codervent.com/shopingo/demo/shopingo_V1/tv-shows.html" data-bs-toggle="dropdown">
              Women
            </a>
            <div class="dropdown-menu dropdown-large-menu">
              <div class="row">

                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4 d-none d-xl-block">
                  <div class="pramotion-banner1">
                    <img src="../../front_assets/img/menu-img.webp" class="img-fluid" alt="" />
                  </div>
                </div>

              </div>
            </div>
          </li>
          <li class="nav-item head dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="https://codervent.com/shopingo/demo/shopingo_V1/tv-shows.html" data-bs-toggle="dropdown">
              Kids
            </a>
            <div class="dropdown-menu dropdown-large-menu">
              <div class="row">

                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4 d-none d-xl-block">
                  <div class="pramotion-banner1">
                    <img src="img/menu-img.webp" class="img-fluid" alt="" />
                  </div>
                </div>

              </div>
            </div>
          </li>
          <li class="nav-item head dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="https://codervent.com/shopingo/demo/shopingo_V1/tv-shows.html" data-bs-toggle="dropdown">
              Home
            </a>
            <div class="dropdown-menu dropdown-large-menu">
              <div class="row">

                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4 d-none d-xl-block">
                  <div class="pramotion-banner1">
                    <img src="img/menu-img.webp" class="img-fluid" alt="" />
                  </div>
                </div>

              </div>

            </div>
          </li>
          <li class="nav-item head dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="https://codervent.com/shopingo/demo/shopingo_V1/tv-shows.html" data-bs-toggle="dropdown">
              Beauty
            </a>
            <div class="dropdown-menu dropdown-large-menu">
              <div class="row">

                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4">
                  <h6 class="large-menu-title">Fashion</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">Casual T-Shirts</a>
                    </li>
                    <li><a href="#">Formal Shirts</a>
                    </li>
                    <li><a href="#">Jackets</a>
                    </li>
                    <li><a href="#">Jeans</a>
                    </li>
                    <li><a href="#">Dresses</a>
                    </li>
                    <li><a href="#">Sneakers</a>
                    </li>
                    <li><a href="#">Belts</a>
                    </li>
                    <li><a href="#">Sports Shoes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-3 col-xl-4 d-none d-xl-block">
                  <div class="pramotion-banner1">
                    <img src="img/menu-img.webp" class="img-fluid" alt="" />
                  </div>
                </div>

              </div>
            </div>
          </li>

          <li class="nav-item search d-none d-md-block d-lg-block d-flex align-items-center">
            <form class="rounded-pill border border-2" style="width: 355px;">
              <button class="border-0 bg-white rounded-4 " type="submit"><i class="fa fa-search"></i></button>
              <input class="rounded-2 fs-6" style="width:300px;outline: none;" type="text" placeholder="Search for Products, Brand ...." name="search">
            </form>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav secondary-menu flex-row">
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link" href="javascript:;"><i class="fas fa-user-edit"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="23" viewBox="0 0 21 23" fill="none">
              <path
                d="M7.75654 20.9897C8.46167 21.6121 9.38792 21.9897 10.4024 21.9897C11.4168 21.9897 12.3431 21.6121 13.0482 20.9897M16.4024 7.98975C16.4024 6.39845 15.7702 4.87232 14.645 3.74711C13.5198 2.62189 11.9937 1.98975 10.4024 1.98975C8.81106 1.98975 7.28494 2.62189 6.15972 3.74711C5.0345 4.87232 4.40236 6.39845 4.40236 7.98975C4.40236 11.0799 3.62283 13.1957 2.75203 14.5952C2.01749 15.7756 1.65022 16.3659 1.66369 16.5305C1.6786 16.7128 1.71722 16.7823 1.86414 16.8913C1.99682 16.9897 2.59495 16.9897 3.79122 16.9897H17.0135C18.2098 16.9897 18.8079 16.9897 18.9406 16.8913C19.0875 16.7823 19.1261 16.7128 19.141 16.5305C19.1545 16.3659 18.7872 15.7756 18.0527 14.5952C17.1819 13.1957 16.4024 11.0799 16.4024 7.98975Z"
                stroke="#272C3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11.4175 3.29206C9.41812 0.95465 6.08406 0.325893 3.57901 2.46626C1.07396 4.60663 0.721284 8.18523 2.68851 10.7167C4.17441 12.6287 8.39561 16.4672 10.3723 18.2311C10.7357 18.5554 10.9174 18.7175 11.1301 18.7813C11.3148 18.8368 11.5201 18.8368 11.7048 18.7813C11.9175 18.7175 12.0992 18.5554 12.4626 18.2311C14.4393 16.4672 18.6605 12.6287 20.1464 10.7167C22.1137 8.18523 21.804 4.58412 19.2559 2.46626C16.7078 0.348407 13.4168 0.95465 11.4175 3.29206Z"
                stroke="#272C3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" href="/product/cart">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
              <path
                d="M14.8698 8.98975V5.98975C14.8698 3.78061 13.0789 1.98975 10.8698 1.98975C8.66062 1.98975 6.86975 3.78061 6.86975 5.98975V8.98974M2.46176 10.3417L1.86176 16.7417C1.69116 18.5614 1.60586 19.4713 1.9078 20.174C2.17305 20.7914 2.63787 21.3018 3.22777 21.6235C3.89928 21.9897 4.81312 21.9897 6.6408 21.9897H15.0987C16.9264 21.9897 17.8402 21.9897 18.5117 21.6235C19.1016 21.3018 19.5665 20.7914 19.8317 20.174C20.1336 19.4713 20.0483 18.5614 19.8778 16.7417L19.2778 10.3417C19.1337 8.80509 19.0617 8.03678 18.7161 7.45591C18.4117 6.94433 17.9621 6.53486 17.4243 6.27959C16.8137 5.98975 16.0421 5.98975 14.4987 5.98975L7.2408 5.98975C5.69744 5.98975 4.92577 5.98975 4.31517 6.27959C3.77742 6.53486 3.32776 6.94433 3.02341 7.45591C2.67784 8.03678 2.60582 8.80509 2.46176 10.3417Z"
                stroke="#272C3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" href="Authentication.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
              <path
                d="M10.0469 7.95105L14.0469 11.951M14.0469 11.951L10.0469 15.951M14.0469 11.951H1.04688M1.3847 6.95105C3.11374 3.96204 6.34546 1.95105 10.0469 1.95105C15.5697 1.95105 20.0469 6.4282 20.0469 11.951C20.0469 17.4739 15.5697 21.951 10.0469 21.951C6.34546 21.951 3.11374 19.9401 1.3847 16.951"
                stroke="#272C3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </a>
        </li>

      </ul>
      <li class="d-lg-none d-md-none d-md-flex d-sm-block d-sm-flex d-xl-none mb-4 mx-auto search " style="list-style: none;">
        <form class="rounded-pill border border-2" style="width: 355px;">
          <button class="border-0 bg-white rounded-4 " type="submit"><i class="fa fa-search"></i></button>
          <input class="rounded-2 fs-6" style="width:300px;outline: none;" type="text" placeholder="Search for Products, Brand ...." name="search">
        </form>
      </li>

    </nav>

    <div class="tab shadow-lg">
      <a class="tab-item" href="/">
        <!-- <i data-feather="home"></i> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
          <path
            d="M19.8008 16.7366C17.4578 19.0355 13.583 19.0122 10.9186 16.4281C9.59153 15.1426 8.35003 13.7715 6.90378 12.2656C4.95471 14.3858 3.17929 16.3141 1.40387 18.245C1.28724 18.1725 1.17061 18.0999 1.05397 18.0273C1.00732 17.7629 0.92438 17.496 0.921788 17.2316C0.911421 13.857 0.885502 10.485 0.92438 7.11043C0.96585 3.60625 3.95685 0.713739 7.10335 0.936639C7.10335 4.59633 7.10335 8.25084 7.10335 12.3097C8.47185 10.7779 9.66151 9.44828 10.9263 8.03313C14.0391 11.0889 16.885 13.8778 19.8008 16.7366Z"
            fill="#272C3F" />
          <path d="M12.8884 6.04762C13.4093 4.00264 12.8754 2.24796 10.535 0.962402C13.2875 0.962402 15.672 0.962402 17.9451 0.962402C16.2681 2.64711 14.5679 4.35514 12.8884 6.04762Z" fill="#272C3F" />
        </svg>
        <span>Home</span>
      </a>

      <a class="tab-item" href="trends.html">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="18" viewBox="0 0 27 18" fill="none">
          <path
            d="M9.39595 9.55167C7.5996 11.3115 5.83982 13.0361 4.07858 14.7623C3.26671 15.558 2.45338 16.3524 1.64004 17.1467C1.43671 17.3442 1.18803 17.6045 0.942276 17.3134C0.834026 17.1862 0.883763 16.8014 1.00079 16.6274C3.74505 12.5753 6.51126 8.53647 9.26722 4.49176C9.52175 4.11727 9.76605 4.08363 10.1288 4.35133C11.7189 5.52305 13.3222 6.67868 14.921 7.84017C15.0615 7.94256 15.2048 8.03911 15.3862 8.16345C17.2191 6.50899 19.0448 4.85893 20.9508 3.13718C20.2545 2.45697 19.5845 1.80308 18.9146 1.14773C18.7902 1.02486 18.6381 0.916608 18.5518 0.771788C18.4611 0.621117 18.3543 0.403157 18.404 0.268576C18.4494 0.147162 18.6937 0.0374498 18.8517 0.0330613C19.7089 0.00965606 20.5661 0.0228215 21.4233 0.0228215C22.9798 0.0228215 24.5377 0.0345237 26.0941 0.015507C26.5768 0.00965566 26.748 0.207137 26.7465 0.667928C26.7378 3.03039 26.7495 5.3914 26.729 7.75386C26.7275 7.95866 26.5768 8.20441 26.4174 8.34192C26.356 8.39604 26.0385 8.24391 25.9083 8.11372C25.2413 7.44959 24.5962 6.76353 23.9174 6.05698C22.8905 7.12777 21.9324 8.12103 20.9786 9.11868C19.469 10.7 17.9506 12.274 16.4599 13.8743C16.0928 14.2678 15.8134 14.2868 15.3921 13.9709C13.5752 12.6061 11.7394 11.2632 9.91086 9.91446C9.75727 9.79743 9.59928 9.6921 9.39595 9.55167Z"
            fill="#272C3F" />
        </svg>
        <span>HotTrends</span>
      </a>

      <a class="tab-item" href="social.html">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="18" viewBox="0 0 640 512">
          <path
            d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z" />
        </svg>
        <span>Social</span>
      </a>

      <a class="tab-item" href="/product/cart">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none">
          <path
            d="M2.90202 1.09348C2.38103 1.09348 1.86774 1.09348 1.35446 1.09348C1.01997 1.09194 0.805718 0.902351 0.807259 0.609485C0.808801 0.322784 1.01381 0.131651 1.34058 0.128568C1.94173 0.123944 2.54288 0.123944 3.14402 0.127026C3.41069 0.128568 3.57562 0.276542 3.66039 0.583281C3.83765 1.21526 4.018 1.84723 4.18293 2.48229C4.22146 2.62872 4.28774 2.66109 4.42801 2.66109C8.78709 2.65647 13.1446 2.65647 17.5037 2.65647C17.9677 2.65647 18.4301 2.65647 18.8941 2.65801C19.3195 2.65955 19.5229 2.92929 19.4089 3.33931C18.6151 6.16778 17.8197 8.99625 17.0259 11.8263C17.0151 11.8617 17.0058 11.8987 16.9966 11.9357C16.9288 12.2424 16.8147 12.3349 16.4941 12.3365C15.3165 12.338 14.1388 12.338 12.9627 12.338C10.8017 12.338 8.6422 12.338 6.48116 12.338C6.09118 12.338 5.97712 12.2517 5.8723 11.8725C4.8966 8.31341 3.91935 4.75739 2.9421 1.19984C2.93439 1.17055 2.92052 1.14281 2.90202 1.09348ZM10.7308 8.48913C10.478 8.21784 10.2437 7.96505 10.0079 7.71534C9.789 7.48259 9.51309 7.45022 9.31117 7.63057C9.09845 7.8217 9.1 8.10069 9.31888 8.34423C9.60712 8.66639 9.89536 8.987 10.1836 9.30915C10.4688 9.62822 10.7246 9.65134 11.0591 9.37697C12.2136 8.43518 13.3681 7.49338 14.5211 6.5485C14.592 6.48993 14.6614 6.41903 14.703 6.33887C14.7939 6.16315 14.74 5.98127 14.5797 5.85641C14.3824 5.70227 14.1527 5.70073 13.96 5.85641C13.3342 6.36662 12.7084 6.87836 12.0826 7.38857C11.6387 7.7508 11.1917 8.11457 10.7308 8.48913Z"
            fill="#272C3F" />
          <path d="M9.76449 15.1124C9.75061 16.2161 8.90438 17.0438 7.80691 17.0284C6.72793 17.013 5.90482 16.1529 5.91869 15.06C5.93256 14.0026 6.79421 13.1703 7.86086 13.1841C8.946 13.1949 9.77836 14.0381 9.76449 15.1124Z" fill="#272C3F" />
          <path d="M13.7999 15.1031C13.8076 14.0041 14.6461 13.1718 15.7328 13.1841C16.8041 13.1964 17.6488 14.0612 17.6441 15.1401C17.638 16.2022 16.7717 17.0407 15.6927 17.0283C14.6261 17.016 13.7922 16.1682 13.7999 15.1031Z" fill="#272C3F" />
        </svg>
        <span>Checkout</span>
      </a>

      <a class="tab-item" href="portfolio.html">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
          <path
            d="M6.13784 18.0218C4.39141 17.9844 2.64297 17.947 0.896532 17.9057C0.436838 17.8959 0.366579 17.825 0.390668 17.3647C0.438845 16.436 0.474978 15.5034 0.567319 14.5787C0.707836 13.1778 1.46262 12.1488 2.67308 11.4209C3.64265 10.8365 4.70657 10.4824 5.78655 10.1636C5.89495 10.1321 6.05554 10.1912 6.16193 10.2561C7.5912 11.0982 9.04857 11.1513 10.4999 10.3486C10.8352 10.1617 11.0961 10.1499 11.4374 10.2659C12.3788 10.5866 13.3203 10.9054 14.1735 11.4228C14.8821 11.8537 15.4742 12.3967 15.8617 13.1345C15.944 13.29 15.94 13.3923 15.8095 13.5241C14.6091 14.738 13.4127 15.9559 12.2283 17.1836C12.0476 17.3706 11.9171 17.6086 11.7847 17.8329C11.7144 17.9529 11.6381 18.0021 11.4976 18.0021C9.93383 18.0041 8.37007 18.012 6.80631 18.0179C6.58349 18.0179 6.36067 18.0179 6.13985 18.0179C6.13784 18.0179 6.13784 18.0198 6.13784 18.0218Z"
            fill="#272C3F" />
          <path d="M8.44438 0.912512C10.9777 0.922349 13.0112 2.93313 13.0032 5.422C12.9952 7.90498 10.9456 9.90002 8.40624 9.89608C5.87492 9.89018 3.82938 7.85776 3.84142 5.36298C3.85347 2.90558 5.92711 0.902674 8.44438 0.912512Z" fill="#272C3F" />
          <path d="M14.587 19.7631C13.8102 19.0332 13.0494 18.317 12.2625 17.5772C13.3244 16.4951 14.3702 15.4248 15.4321 14.3427C16.211 15.0765 16.9698 15.7927 17.7527 16.5305C16.6928 17.6107 15.6449 18.681 14.587 19.7631Z" fill="#272C3F" />
          <path
            d="M17.9735 16.3122C17.1906 15.5743 16.4258 14.8542 15.6489 14.1184C16.1769 13.5813 16.6888 13.052 17.2107 12.5365C17.3392 12.4106 17.5138 12.4205 17.6483 12.5444C18.2706 13.1229 18.8909 13.7052 19.5071 14.2896C19.6316 14.4076 19.6557 14.5709 19.5352 14.6968C19.0274 15.2359 18.5055 15.7632 17.9735 16.3122Z"
            fill="#272C3F" />
          <path
            d="M14.3441 19.9657C13.9225 20.0935 13.5371 20.2077 13.1537 20.3257C12.6639 20.4752 12.1781 20.6366 11.6843 20.7664C11.5659 20.7979 11.3812 20.7684 11.2969 20.6917C11.2246 20.6248 11.2065 20.4398 11.2407 20.3296C11.4876 19.5486 11.7526 18.7734 12.0115 17.9962C12.0256 17.9549 12.0456 17.9136 12.0798 17.8309C12.8365 18.5451 13.5753 19.2416 14.3441 19.9657Z"
            fill="#272C3F" />
        </svg>
        <span>Portfolio</span>
      </a>

    </div>
  </header>

  <!--end top header-->


  <!--start page content-->
  <div class="page-content">


    <!--start breadcrumb-->
    <div class="py-4 border-bottom">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Page Details</li>
          </ol>
        </nav>
      </div>
    </div>
    <!--end breadcrumb-->


    <!--start product details-->
    <section class="py-4">
      <div class="container">
        <div class="row g-4">
          <div class="col-12 col-xl-7">
            <div class="product-img">
              <div class="product-zoom-img">
                <div class="row row-cols-2 g-3">
                  <div class="col">
                    <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="../../front_assets/img/product-../../front_assets/img/01.jpg">
                      <img src="../../front_assets/img/product-images/01.jpg" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="../../front_assets/img/product-../../front_assets/img/02.jpg">
                      <img src="../../front_assets/img/product-images/02.jpg" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="../../front_assets/img/product-../../front_assets/img/03.jpg">
                      <img src="../../front_assets/img/product-images/03.jpg" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="../../front_assets/img/product-../../front_assets/img/04.jpg">
                      <img src="../../front_assets/img/product-images/04.jpg" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="../../front_assets/img/product-../../front_assets/img/05.jpg">
                      <img src="../../front_assets/img/product-images/05.jpg" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="../../front_assets/img/product-../../front_assets/img/06.jpg">
                      <img src="../../front_assets/img/product-images/06.jpg" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="../../front_assets/img/product-../../front_assets/img/07.jpg">
                      <img src="../../front_assets/img/product-images/07.jpg" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="../../front_assets/img/product-../../front_assets/img/08.jpg">
                      <img src="../../front_assets/img/product-images/08.jpg" class="img-fluid" alt="">
                    </div>
                  </div>
                </div><!--end row-->
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-5">
            <div class="product-info">
              <h4 class="product-title fw-bold mb-1">Check Pink Kurta</h4>
              <p class="mb-0">Women Pink & Off-White Printed Kurta with Palazzos</p>
              <div class="product-rating">
                <div class="hstack gap-2 border p-1 mt-3 width-content">
                  <div><span class="rating-number">4.8</span><i class="bi bi-star-fill ms-1 text-warning"></i></div>
                  <div class="vr"></div>
                  <div>162 Ratings</div>
                </div>
              </div>
              <hr>
              <div class="product-price d-flex align-items-center gap-3">
                <div class="h4 fw-bold">$458</div>
                <div class="h5 fw-light text-muted text-decoration-line-through">$2089</div>
                <div class="h4 fw-bold text-danger">(70% off)</div>
              </div>
              <p class="fw-bold mb-0 mt-1 text-success">inclusive of all taxes</p>

              <div class="more-colors mt-4">
                <h6 class="fw-bold mb-3">More Colors</h6>
                <div class="d-flex align-items-center gap-3">
                  <div class="">
                    <a href="javascript:;">
                      <img src="../../front_assets/img/featured-products/01.webp" width="65" alt="">
                    </a>
                  </div>
                  <div class="">
                    <a href="javascript:;">
                      <img src="../../front_assets/img/featured-products/02.webp" width="65" alt="">
                    </a>
                  </div>
                  <div class="">
                    <a href="javascript:;">
                      <img src="../../front_assets/img/featured-products/03.webp" width="65" alt="">
                    </a>
                  </div>
                  <div class="">
                    <a href="javascript:;">
                      <img src="../../front_assets/img/featured-products/04.webp" width="65" alt="">
                    </a>
                  </div>
                </div>
              </div>

              <div class="size-chart mt-4">
                <h6 class="fw-bold mb-3">Select Size</h6>
                <div class="d-flex align-items-center gap-2 flex-wrap">
                  <div class="">
                    <button type="button">XS</button>
                  </div>
                  <div class="">
                    <button type="button">S</button>
                  </div>
                  <div class="">
                    <button type="button">M</button>
                  </div>
                  <div class="">
                    <button type="button">L</button>
                  </div>
                  <div class="">
                    <button type="button">XL</button>
                  </div>
                  <div class="">
                    <button type="button">XXL</button>
                  </div>
                </div>
              </div>
              <div class="cart-buttons mt-3">
                <div class="buttons d-flex flex-column flex-lg-row gap-3 mt-4">
                  <a href="javascript:;" class="btn btn-lg btn-dark btn-ecomm px-5 py-3 col-lg-6"><i class="bi bi-basket2 me-2"></i>Add to Bag</a>
                  <a href="javascript:;" class="btn btn-lg btn-outline-dark btn-ecomm px-5 py-3"><i class="bi bi-suit-heart me-2"></i>Wishlist</a>
                </div>
              </div>
              <hr class="my-3">
              <div class="product-info">
                <h6 class="fw-bold mb-3">Product Details</h6>
                <p class="mb-1">There are many variations of passages of Lorem Ipsum</p>
                <p class="mb-1">All the Lorem Ipsum generators on the Internet tend to repeat</p>
                <p class="mb-1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
                <p class="mb-1">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
              </div>
              <hr class="my-3">
              <div class="customer-ratings">
                <h6 class="fw-bold mb-3">Customer Ratings</h6>
                <div class="d-flex align-items-center gap-4 gap-lg-5 flex-wrap flex-lg-nowrap">
                  <div class="">
                    <h1 class="mb-2 fw-bold">4.8<span class="fs-5 ms-2 text-warning"><i class="bi bi-star-fill"></i></span></h1>
                    <p class="mb-0">3.8k Verified Buyers</p>
                  </div>
                  <div class="vr d-none d-lg-block"></div>
                  <div class="w-100">
                    <div class="rating-wrrap hstack gap-2 align-items-center">
                      <p class="mb-0">5</p>
                      <div class=""><i class="bi bi-star"></i></div>
                      <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 75%"></div>
                      </div>
                      <p class="mb-0">1528</p>
                    </div>
                    <div class="rating-wrrap hstack gap-2 align-items-center">
                      <p class="mb-0">4</p>
                      <div class=""><i class="bi bi-star"></i></div>
                      <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 65%"></div>
                      </div>
                      <p class="mb-0">253</p>
                    </div>
                    <div class="rating-wrrap hstack gap-2 align-items-center">
                      <p class="mb-0">3</p>
                      <div class=""><i class="bi bi-star"></i></div>
                      <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 45%"></div>
                      </div>
                      <p class="mb-0">258</p>
                    </div>
                    <div class="rating-wrrap hstack gap-2 align-items-center">
                      <p class="mb-0">2</p>
                      <div class=""><i class="bi bi-star"></i></div>
                      <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 35%"></div>
                      </div>
                      <p class="mb-0">78</p>
                    </div>
                    <div class="rating-wrrap hstack gap-2 align-items-center">
                      <p class="mb-0">1</p>
                      <div class=""><i class="bi bi-star"></i></div>
                      <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%"></div>
                      </div>
                      <p class="mb-0">27</p>
                    </div>
                  </div>
                </div>
              </div>

              <hr class="my-3">
              <div class="customer-reviews">
                <h6 class="fw-bold mb-3">Customer Reviews (875)</h6>
                <div class="reviews-wrapper">
                  <div class="d-flex flex-column flex-lg-row gap-3">
                    <div class=""><span class="badge bg-green rounded-0">5<i class="bi bi-star-fill ms-1"></i></span></div>
                    <div class="flex-grow-1">
                      <p class="mb-2">This is some content from a media component. You can replace this with any content and adjust it as needed. Some quick example text to build on the card title and make.</p>
                      <div class="review-img">
                        <img src="../../front_assets/img/featured-products/05.webp" alt="" width="70">
                      </div>
                      <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                        <div class="hstack flex-grow-1 gap-3">
                          <p class="mb-0">Jhon Deo</p>
                          <div class="vr"></div>
                          <div class="date-posted">12 June 2020</div>
                        </div>
                        <div class="hstack">
                          <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>68</div>
                          <div class="mx-3"></div>
                          <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>24</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="d-flex flex-column flex-lg-row gap-3">
                    <div class=""><span class="badge bg-green rounded-0">4<i class="bi bi-star-fill ms-1"></i></span></div>
                    <div class="flex-grow-1">
                      <p class="mb-2">This is some content from a media component. You can replace this with any content.</p>
                      <div class="review-img">
                        <img src="../../front_assets/img/featured-products/02.webp" alt="" width="70">
                      </div>
                      <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                        <div class="hstack flex-grow-1 gap-3">
                          <p class="mb-0">Jhon Deo</p>
                          <div class="vr"></div>
                          <div class="date-posted">15 June 2020</div>
                        </div>
                        <div class="hstack">
                          <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>58</div>
                          <div class="mx-3"></div>
                          <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>34</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="d-flex flex-column flex-lg-row gap-3">
                    <div class=""><span class="badge bg-warning rounded-0 text-dark">3<i class="bi bi-star-fill ms-1"></i></span></div>
                    <div class="flex-grow-1">
                      <p class="mb-2">This is some content from a media component. You can replace this with any content and adjust it as needed.</p>
                      <div class="review-img">
                        <img src="../../front_assets/img/featured-products/04.webp" alt="" width="70">
                      </div>
                      <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                        <div class="hstack flex-grow-1 gap-3">
                          <p class="mb-0">Jhon Deo</p>
                          <div class="vr"></div>
                          <div class="date-posted">22 June 2022</div>
                        </div>
                        <div class="hstack">
                          <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>98</div>
                          <div class="mx-3"></div>
                          <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>41</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="d-flex flex-column flex-lg-row gap-3">
                    <div class=""><span class="badge bg-danger rounded-0">2<i class="bi bi-star-fill ms-1"></i></span></div>
                    <div class="flex-grow-1">
                      <p class="mb-2">You can replace this with any content and adjust it as needed. Some quick example text to build on the card title and make.</p>
                      <div class="review-img">
                        <img src="../../front_assets/img/featured-products/01.webp" alt="" width="70">
                      </div>
                      <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                        <div class="hstack flex-grow-1 gap-3">
                          <p class="mb-0">Jhon Deo</p>
                          <div class="vr"></div>
                          <div class="date-posted">22 June 2022</div>
                        </div>
                        <div class="hstack">
                          <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>26</div>
                          <div class="mx-3"></div>
                          <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>89</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="text-center">
                    <a href="javascript:;" class="btn btn-ecomm btn-outline-dark">View All Reviws<i class="bi bi-arrow-right ms-2"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--end row-->
      </div>
    </section>
    <!--start product details-->


    <!--start product details-->
    <section class="section-padding">
      <div class="container">
        <div class="separator pb-3">
          <div class="line"></div>
          <h3 class="mb-0 h3 fw-bold">Related Products</h3>
          <div class="line"></div>
        </div>
        <div class="similar-products">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-4">
            <div class="col">
              <a href="javascript:;">
                <div class="card rounded-0">
                  <img src="../../front_assets/img/best-sellar/1.webp" alt="" class="card-img-top rounded-0">
                  <div class="card-body border-top">
                    <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                    <p class="mb-0 product-short-name">Color Printed Kurta</p>
                    <div class="product-price d-flex align-items-center gap-3 mt-2">
                      <div class="h6 fw-bold">$458</div>
                      <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                      <div class="h6 fw-bold text-danger">(70% off)</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="javascript:;">
                <div class="card rounded-0">
                  <img src="../../front_assets/img/new-arrival/02.webp" alt="" class="card-img-top rounded-0">
                  <div class="card-body border-top">
                    <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                    <p class="mb-0 product-short-name">Color Printed Kurta</p>
                    <div class="product-price d-flex align-items-center gap-3 mt-2">
                      <div class="h6 fw-bold">$458</div>
                      <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                      <div class="h6 fw-bold text-danger">(70% off)</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="javascript:;">
                <div class="card rounded-0">
                  <img src="../../front_assets/img/best-sellar/3.webp" alt="" class="card-img-top rounded-0">
                  <div class="card-body border-top">
                    <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                    <p class="mb-0 product-short-name">Color Printed Kurta</p>
                    <div class="product-price d-flex align-items-center gap-3 mt-2">
                      <div class="h6 fw-bold">$458</div>
                      <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                      <div class="h6 fw-bold text-danger">(70% off)</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="javascript:;">
                <div class="card rounded-0">
                  <img src="../../front_assets/img/new-arrival/04.webp" alt="" class="card-img-top rounded-0">
                  <div class="card-body border-top">
                    <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                    <p class="mb-0 product-short-name">Color Printed Kurta</p>
                    <div class="product-price d-flex align-items-center gap-3 mt-2">
                      <div class="h6 fw-bold">$458</div>
                      <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                      <div class="h6 fw-bold text-danger">(70% off)</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="javascript:;">
                <div class="card rounded-0">
                  <img src="../../front_assets/img/new-arrival/05.webp" alt="" class="card-img-top rounded-0">
                  <div class="card-body border-top">
                    <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                    <p class="mb-0 product-short-name">Color Printed Kurta</p>
                    <div class="product-price d-flex align-items-center gap-3 mt-2">
                      <div class="h6 fw-bold">$458</div>
                      <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                      <div class="h6 fw-bold text-danger">(70% off)</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="javascript:;">
                <div class="card rounded-0">
                  <img src="../../front_assets/../../front_assets/img/trending-product/003.webp" alt="" class="card-img-top rounded-0">
                  <div class="card-body border-top">
                    <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                    <p class="mb-0 product-short-name">Color Printed Kurta</p>
                    <div class="product-price d-flex align-items-center gap-3 mt-2">
                      <div class="h6 fw-bold">$458</div>
                      <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                      <div class="h6 fw-bold text-danger">(70% off)</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="javascript:;">
                <div class="card rounded-0">
                  <img src="../../front_assets/../../front_assets/img/featured-products/05.webp" alt="" class="card-img-top rounded-0">
                  <div class="card-body border-top">
                    <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                    <p class="mb-0 product-short-name">Color Printed Kurta</p>
                    <div class="product-price d-flex align-items-center gap-3 mt-2">
                      <div class="h6 fw-bold">$458</div>
                      <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                      <div class="h6 fw-bold text-danger">(70% off)</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="javascript:;">
                <div class="card rounded-0">
                  <img src="../../front_assets/../../front_assets/img/trending-product/005.webp" alt="" class="card-img-top rounded-0">
                  <div class="card-body border-top">
                    <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                    <p class="mb-0 product-short-name">Color Printed Kurta</p>
                    <div class="product-price d-flex align-items-center gap-3 mt-2">
                      <div class="h6 fw-bold">$458</div>
                      <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                      <div class="h6 fw-bold text-danger">(70% off)</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="javascript:;">
                <div class="card rounded-0">
                  <img src="../../front_assets/../../front_assets/img/trending-product/001.webp" alt="" class="card-img-top rounded-0">
                  <div class="card-body border-top">
                    <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                    <p class="mb-0 product-short-name">Color Printed Kurta</p>
                    <div class="product-price d-flex align-items-center gap-3 mt-2">
                      <div class="h6 fw-bold">$458</div>
                      <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                      <div class="h6 fw-bold text-danger">(70% off)</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="javascript:;">
                <div class="card rounded-0">
                  <img src="../../front_assets/../../front_assets/img/trending-product/002.webp" alt="" class="card-img-top rounded-0">
                  <div class="card-body border-top">
                    <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                    <p class="mb-0 product-short-name">Color Printed Kurta</p>
                    <div class="product-price d-flex align-items-center gap-3 mt-2">
                      <div class="h6 fw-bold">$458</div>
                      <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                      <div class="h6 fw-bold text-danger">(70% off)</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>


          </div>
          <!--end row-->
        </div>
      </div>
    </section>
    <!--end product details-->


  </div>
  <!--end page content-->


  <!--start footer-->
  <section class="footer-section bg-section-2 section-padding d-none d-lg-block" style="background-color: #FFF6F6;">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-4 g-4">

        <div class="col d-flex d-md-block d-sm-flex justify-content-center">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">ONLINE SHOPPING</h5>
            <ul class="widget-link list-unstyled">
              <li><a href="javascript:;">Men</a></li>
              <li><a href="javascript:;">Women</a></li>
              <li><a href="javascript:;">Kids</a></li>
              <li><a href="javascript:;">Home & Living</a></li>
              <li><a href="javascript:;">Beauty</a></li>
              <li><a href="javascript:;">Gift Cards</a></li>
              <li><a href="javascript:;">Ribbon Insider</a></li>
            </ul>
          </div>
        </div>

        <div class="f-1 col d-flex d-md-block d-sm-flex justify-content-center">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">CUSTOMER POLICIES</h5>
            <ul class="widget-link list-unstyled">
              <li><a href="javascript:;">Contact Us</a></li>
              <li><a href="javascript:;">FAQ</a></li>
              <li><a href="javascript:;">T&C</a></li>
              <li><a href="javascript:;">Terms Of Use</a></li>
              <li><a href="javascript:;">Track Orders</a></li>
              <li><a href="javascript:;">Shipping</a></li>
              <li><a href="javascript:;">Cancellation</a></li>
              <li><a href="javascript:;">Returns</a></li>
              <li><a href="javascript:;">Privacy policy</a></li>
              <li><a href="javascript:;">Grievance Officer</a></li>
            </ul>
          </div>
        </div>

        <div class="f-2 col d-flex d-md-block d-sm-flex justify-content-center">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">USEFUL LINKS</h5>
            <ul class="widget-link list-unstyled">
              <li><a href="javascript:;">Blog</a>
              </li>
              <li><a href="javascript:;">Careers</a>
              </li>
              <li><a href="javascript:;">Site Map</a>
              </li>
              <li><a href="javascript:;">Corporate Information</a>
              </li>
              <li><a href="javascript:;">Whitehat</a>
              </li>
              <li><a href="javascript:;">Cleartrip</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="f-11 col d-flex d-md-block d-sm-flex justify-content-center">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">Keep In Touch</h5>
            <ul class="widget-link list-unstyled">
              <li>
                <a href="javascript:;">
                  <i class="fab fa-google me-2"></i>
                  <i class="fab fa-facebook-f me-2"></i>
                  <i class="fab fa-twitter"></i>
                </a>
              </li>

            </ul>
          </div>
        </div>

      </div>
      <!-- <div>
              <img class="d-flex justify-content-center mx-auto my-0" style="width: 200px;" src="img/logo.png" alt="">
          </div> -->
    </div>
  </section>
  <!--end footer-->

  <footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted"> 2022. www.ztrios.com | All rights reserved.</p>
  </footer>


  <!--start cart-->
  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header bg-section-2">
      <h5 class="mb-0 fw-bold" id="offcanvasRightLabel">8 items in the cart</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="cart-list">

        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="../../front_assets/../../front_assets/img/new-arrival/01.webp" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="../../front_assets/../../front_assets/img/new-arrival/02.webp" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="../../front_assets/../../front_assets/img/new-arrival/03.webp" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="../../front_assets/../../front_assets/img/new-arrival/04.webp" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="../../front_assets/../../front_assets/img/new-arrival/05.webp" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="../../front_assets/../../front_assets/img/new-arrival/06.webp" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="../../front_assets/../../front_assets/img/new-arrival/07.webp" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="../../front_assets/../../front_assets/img/new-arrival/08.webp" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="../../front_assets/../../front_assets/img/new-arrival/09.webp" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center gap-3">
          <div class="bottom-product-img">
            <a href="product-details.html">
              <img src="../../front_assets/../../front_assets/img/new-arrival/10.webp" width="60" alt="">
            </a>
          </div>
          <div class="">
            <h6 class="mb-0 fw-light mb-1">Product Name</h6>
            <p class="mb-0"><strong>1 X $59.00</strong>
            </p>
          </div>
          <div class="ms-auto fs-5">
            <a href="javascript:" class="link-dark"><i class="bi bi-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-footer p-3 border-top">
      <div class="d-grid">
        <button type="button" class="btn btn-lg btn-dark btn-ecomm px-5 py-3">Checkout</button>
      </div>
    </div>

  </div>
  <!--end cat-->



  <!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
  <!--End Back To Top Button-->


  <!-- JavaScript files -->
  <script src="../../front_assets/js/bootstrap.bundle.min.js"></script>
  <script src="../../front_assets/js/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
  <script src="../../front_assets/plugins/slick/slick.min.js"></script>
  <script src="../../front_assets/js/main.js"></script>
  <script src="../../front_assets/js/index.js"></script>
  <script src="../../front_assets/js/loader.js"></script>


</body>

</html>