<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Landing Page CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App css -->

    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- icons -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Plugins css -->
    <link href="/assets/libs/mohithg-switchery/switchery.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->

    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- icons -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- data tables css -->
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">

</head>

<!-- body start -->

<body class="loading" data-layout-color="light" data-layout-mode="default" data-layout-size="fluid" data-topbar-color="light" data-leftbar-position="fixed" data-leftbar-color="light" data-leftbar-size='default' data-sidebar-user='true'>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top bar Start -->
        <%- include('../layouts/topbar.ejs') -%>

            <!-- end Topbar -->

            <!-- Left Sidebar Start ========== -->
            <%- include('../layouts/left_sidebar.ejs') -%>

                <!-- Left Sidebar End -->


                <!-- Start Page Content here -->
                <div class="content-page mt-5" style="background: #F9F9F9;">

                    <div class="content">


                        <div class="bg-white p-3 mb-2" style="border-radius: 5px;">
                            <h4 class="text-black font-bold mb-3">CMS</h4>
                            <div style="color: rgb(97 97 97); margin-right: 0.5rem">
                                <span>Pages</span>
                                <span>></span>
                                <span>CMS</span>
                            </div>
                        </div>

                        <!-- Start Content-->
                        <div class="container-fluid card p-4" style="padding: 20px;">

                            <div class="">
                                <div class="mb-3">
                                    <!-- <h3 class="mb-0">CMS</h3> -->
                                </div>
                            </div>



                            <div class="row">

                                <form action="/landingcms/post_landing_page_cms" method="post" class="mb-5" enctype="multipart/form-data">
                                    <!-- discount_image upper_banner logo_image  coupon_image deals_image feature_brands crazy_deals -->

                                    <div class="d-flex justify-content-center gap-3">
                                        <div class="mb-3">
                                            <div class="btn btn-lg btn-danger" id="home">Home</div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="btn btn-lg btn-warning" id="products">Products</div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="btn btn-lg btn-primary" id="checkout">Checkout</div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="btn btn-lg btn-secondary" id="social">Social</div>
                                        </div>

                                        <div class=" mb-3">
                                            <div class="btn btn-lg btn-dark" id="others">Others</div>
                                        </div>

                                        <!-- <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <input type="checkbox" name="others" class="" id="others" onclick="homePage(this)">
                                            <label for="others">Others</label>
                                        </div> -->

                                    </div>


                                    <div class="row homee">
                                        <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <div class="main-img-container mt-2">
                                                <!-- <p>*All Image size should be 300/300.</p> -->
                                                <img class="" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Not Available"
                                                    style="width:180px; height: auto; border-radius:5px;" id="main-img-preview1">
                                                <br>
                                                <label for="discount_image" class="btn btn-dark mt-2">Discount Image</label>

                                                <input type="file" name="discount_image" class="form-control d-none" id="discount_image" onchange="changed_discount_image(this,null)">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <div class="main-img-container mt-2">
                                                <!-- <p>*All Image size should be 300/300.</p> -->
                                                <img class="" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Not Available"
                                                    style="width:180px; height: auto; border-radius:5px;" id="main-img-preview2">
                                                <br>

                                                <label for="upper_banner" class="btn btn-dark mt-2">Upper_banner Image</label>
                                                <input multiple type="file" name="upper_banner" class="form-control d-none" id="upper_banner" onchange="main_image_changed_upper_banner(this,null)">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <div class="main-img-container mt-2">
                                                <!-- <p>*All Image size should be 300/300.</p> -->
                                                <img class="" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Not Available"
                                                    style="width:180px; height: auto; border-radius:5px;" id="main-img-preview3">
                                                <br>
                                                <label for="logo_image" class="btn btn-dark mt-2">Logo Image</label>
                                                <input type="file" name="logo_image" class="form-control d-none" id="logo_image" onchange="main_image_changed_logo_image(this,null)">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <div class="main-img-container mt-2">
                                                <!-- <p>*All Image size should be 300/300.</p> -->
                                                <img class="" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Not Available"
                                                    style="width:180px; height: auto; border-radius:5px;" id="main-img-preview4">
                                                <br>
                                                <label for="coupon_image" class="btn btn-dark mt-2">Coupon Image</label>
                                                <input type="file" name="coupon_image" class="form-control d-none" id="coupon_image" onchange="main_image_changed_coupon_cart_image(this,null)">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <div class="main-img-container mt-2">
                                                <!-- <p>*All Image size should be 300/300.</p> -->
                                                <img class="" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Not Available"
                                                    style="width:180px; height: auto; border-radius:5px;" id="main-img-preview5">
                                                <br>
                                                <label for="deals_image" class="btn btn-dark mt-2">Deals Image</label>
                                                <input type="file" name="deals_image" class="form-control d-none" id="deals_image" onchange="main_image_changed_deals_image(this,null)">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <div class="main-img-container mt-2">
                                                <!-- <p>*All Image size should be 300/300.</p> -->
                                                <img class="" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Not Available"
                                                    style="width:180px; height: auto; border-radius:5px;" id="main-img-preview6">
                                                <br>
                                                <label for="feature_brands" class="btn btn-dark mt-2">Feature Brands Image</label>
                                                <input type="file" name="feature_brands" class="form-control d-none" id="feature_brands" onchange="main_image_changed_features_brands_image(this,null)">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <div class="main-img-container mt-2">
                                                <!-- <p>*All Image size should be 300/300.</p> -->
                                                <img class="" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Not Available"
                                                    style="width:180px; height: auto; border-radius:5px;" id="main-img-preview7">
                                                <br>
                                                <label for="crazy_deals" class="btn btn-dark mt-2">Crazy Deals Image</label>
                                                <input type="file" name="crazy_deals" class="form-control d-none" id="crazy_deals" onchange="main_image_changed_crazy_deals_image(this,null)">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-3">
                                            <div class="form-group" style="background-color: white; border-radius: 5px; padding:10px">
                                                <label for="title" class="form-label">Title</label>
                                                <input type="text" class="form-control" placeholder="Enter Title" name="title" onkeypress="return event.keyCode != 13;">
                                            </div>
                                        </div>

                                        <style>
                                            .select2-container--default .select2-selection--single {
                                                background: #FCFCFC !important;
                                                color: #444 !important;
                                            }

                                            .form-control {
                                                /* background: #FCFCFC !important; */
                                                color: #444 !important;
                                            }
                                        </style>
                                    </div>

                                    <div class="row d-none productss">
                                        <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <div class="main-img-container mt-2">
                                                <!-- <p>*All Image size should be 300/300.</p> -->
                                                <img class="" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Not Available"
                                                    style="width:180px; height: auto; border-radius:5px;" id="main-img-previewbanner">
                                                <br>
                                                <label for="banner" class="btn btn-dark mt-2">Banner Image</label>
                                                <input multiple type="file" name="banner" class="form-control d-none" id="banner" onchange="changed_banner(this,null)">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <div class="main-img-container mt-2">
                                                <!-- <p>*All Image size should be 300/300.</p> -->
                                                <img class="" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Not Available"
                                                    style="width:180px; height: auto; border-radius:5px;" id="main-img-previewcoupon">
                                                <br>
                                                <label for="coupon" class="btn btn-dark mt-2">Coupon Image</label>
                                                <input type="file" name="coupon" class="form-control d-none" id="coupon" onchange="changed_coupon(this,null)">
                                            </div>
                                        </div>


                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-3">
                                            <div class="form-group" style="background-color: white; border-radius: 5px; padding:10px">
                                                <label for="title" class="form-label">Title</label>
                                                <input type="text" class="form-control" placeholder="Enter Title" name="title" onkeypress="return event.keyCode != 13;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row d-none checkoutt">
                                        <div class="main-img-container mt-2">
                                            <!-- <p>*All Image size should be 300/300.</p> -->
                                            <img class="" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Not Available"
                                                style="width:180px; height: auto; border-radius:5px;" id="main-img-previewcheckout">
                                            <br>
                                            <label for="checkout_coupon" class="btn btn-dark mt-2">Coupon Image</label>
                                            <input multiple type="file" name="checkout_coupon" class="form-control d-none" id="checkout_coupon" onchange="changed_checkout(this,null)">
                                        </div>


                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-3">
                                            <div class="form-group" style="background-color: white; border-radius: 5px; padding:10px">
                                                <label for="title" class="form-label">Title</label>
                                                <input type="text" class="form-control" placeholder="Enter Title" name="title" onkeypress="return event.keyCode != 13;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-none sociall">
                                        <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <p>Social</p>
                                        </div>
                                    </div>

                                    <div class="row d-none otherss">
                                        <div class="col-12 col-md-2 col-lg-2 col-xl-2 mb-3">
                                            <p>others</p>

                                        </div>
                                    </div>

                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-3">
                                        <button type="submit" class="btn btn-dark">Submit</button>
                                    </div>
                            </div>
                            </form>
                        </div>


                    </div>

                </div>
                <!-- container-fluid -->

    </div> <!-- content -->

    <!-- Footer Start -->
    <%- include('../layouts/footer.ejs') -%>

        <!-- end Footer -->

        </div>
        <!-- End Page content -->


        </div>
        <!-- END wrapper -->

        <!-- Right Sidebar -->
        <%- include('../layouts/right_sidebar') -%>
            <!-- /Right-bar -->

            <!-- Right bar overlay-->
            <div class="rightbar-overlay"></div>

            <!-- Vendor -->
            <script src="/assets/libs/jquery/jquery.min.js"></script>
            <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/libs/simplebar/simplebar.min.js"></script>
            <script src="/assets/libs/node-waves/waves.min.js"></script>
            <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
            <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
            <script src="/assets/libs/feather-icons/feather.min.js"></script>

            <script src="/assets/libs/selectize/js/standalone/selectize.min.js"></script>
            <script src="/assets/libs/mohithg-switchery/switchery.min.js"></script>
            <script src="/assets/libs/multiselect/js/jquery.multi-select.js"></script>
            <script src="/assets/libs/select2/js/select2.min.js"></script>
            <script src="/assets/libs/jquery-mockjax/jquery.mockjax.min.js"></script>
            <script src="/assets/libs/devbridge-autocomplete/jquery.autocomplete.min.js"></script>
            <script src="/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
            <script src="https://coderthemes.com/adminto/layouts//assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

            <!-- Init js-->
            <script src="/assets/js/pages/form-advanced.init.js"></script>

            <!-- App js -->
            <script src="/assets/js/app.min.js"></script>

            <script>
                // const { functions } = require("lodash");

                let count = 0;
                const main_image_changed = (tag, ind) => {
                    let imgTag;
                    if (ind) {
                        imgTag = document.getElementById(`main-img-preview_${ind}`);
                    } else {
                        imgTag = document.getElementById(`main-img-preview`);
                    }
                    // imgTag.classList.remove("d-none");
                    if (tag.files && tag.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imgTag.setAttribute("src", e.target.result);
                        };
                        reader.readAsDataURL(tag.files[0]);
                    }
                    // let imge = document.getElementById("main-img-preview");

                };


                // home page
                const changed_discount_image = (tag, ind) => {
                    let imgTag;
                    if (ind) {
                        imgTag = document.getElementById(`main-img-preview1_${ind}`);
                    } else {
                        imgTag = document.getElementById(`main-img-preview1`);
                    }
                    // imgTag.classList.remove("d-none");
                    if (tag.files && tag.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imgTag.setAttribute("src", e.target.result);
                        };
                        reader.readAsDataURL(tag.files[0]);
                    }
                };
                const main_image_changed_upper_banner = (tag, ind) => {
                    let imgTag;
                    if (ind) {
                        imgTag = document.getElementById(`main-img-preview2_${ind}`);
                    } else {
                        imgTag = document.getElementById(`main-img-preview2`);
                    }
                    // imgTag.classList.remove("d-none");
                    if (tag.files && tag.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imgTag.setAttribute("src", e.target.result);
                        };
                        reader.readAsDataURL(tag.files[0]);
                    }
                };

                const main_image_changed_logo_image = (tag, ind) => {
                    let imgTag;
                    if (ind) {
                        imgTag = document.getElementById(`main-img-preview3_${ind}`);
                    } else {
                        imgTag = document.getElementById(`main-img-preview3`);
                    }
                    // imgTag.classList.remove("d-none");
                    if (tag.files && tag.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imgTag.setAttribute("src", e.target.result);
                        };
                        reader.readAsDataURL(tag.files[0]);
                    }
                };
                const main_image_changed_coupon_cart_image = (tag, ind) => {
                    let imgTag;
                    if (ind) {
                        imgTag = document.getElementById(`main-img-preview4_${ind}`);
                    } else {
                        imgTag = document.getElementById(`main-img-preview4`);
                    }
                    // imgTag.classList.remove("d-none");
                    if (tag.files && tag.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imgTag.setAttribute("src", e.target.result);
                        };
                        reader.readAsDataURL(tag.files[0]);
                    }
                };

                const main_image_changed_deals_image = (tag, ind) => {
                    let imgTag;
                    if (ind) {
                        imgTag = document.getElementById(`main-img-preview5_${ind}`);
                    } else {
                        imgTag = document.getElementById(`main-img-preview5`);
                    }
                    // imgTag.classList.remove("d-none");
                    if (tag.files && tag.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imgTag.setAttribute("src", e.target.result);
                        };
                        reader.readAsDataURL(tag.files[0]);
                    }
                };

                const main_image_changed_features_brands_image = (tag, ind) => {
                    let imgTag;
                    if (ind) {
                        imgTag = document.getElementById(`main-img-preview6_${ind}`);
                    } else {
                        imgTag = document.getElementById(`main-img-preview6`);
                    }
                    // imgTag.classList.remove("d-none");
                    if (tag.files && tag.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imgTag.setAttribute("src", e.target.result);
                        };
                        reader.readAsDataURL(tag.files[0]);
                    }
                };

                const main_image_changed_crazy_deals_image = (tag, ind) => {
                    let imgTag;
                    if (ind) {
                        imgTag = document.getElementById(`main-img-preview7_${ind}`);
                    } else {
                        imgTag = document.getElementById(`main-img-preview7`);
                    }
                    // imgTag.classList.remove("d-none");
                    if (tag.files && tag.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imgTag.setAttribute("src", e.target.result);
                        };
                        reader.readAsDataURL(tag.files[0]);
                    }
                };

                //Product page
                const changed_banner = (tag, ind) => {
                    let imgTag;
                    if (ind) {
                        imgTag = document.getElementById(`main-img-previewbanner_${ind}`);
                    } else {
                        imgTag = document.getElementById(`main-img-previewbanner`);
                    }
                    // imgTag.classList.remove("d-none");
                    if (tag.files && tag.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imgTag.setAttribute("src", e.target.result);
                        };
                        reader.readAsDataURL(tag.files[0]);
                    }
                };



                const changed_coupon = (tag, ind) => {
                    let imgTag;
                    if (ind) {
                        imgTag = document.getElementById(`main-img-previewcoupon_${ind}`);
                    } else {
                        imgTag = document.getElementById(`main-img-previewcoupon`);
                    }
                    // imgTag.classList.remove("d-none");
                    if (tag.files && tag.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imgTag.setAttribute("src", e.target.result);
                        };
                        reader.readAsDataURL(tag.files[0]);
                    }
                };


                // checkout js
                const changed_checkout = (tag, ind) => {
                    let imgTag;
                    if (ind) {
                        imgTag = document.getElementById(`main-img-previewcheckout_${ind}`);
                    } else {
                        imgTag = document.getElementById(`main-img-previewcheckout`);
                    }
                    // imgTag.classList.remove("d-none");
                    if (tag.files && tag.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imgTag.setAttribute("src", e.target.result);
                        };
                        reader.readAsDataURL(tag.files[0]);
                    }
                };


                // js for single image and carosel image delete
                const deleteSliderSingleImg = (tag) => {
                    let deletedNode = tag.parentNode;
                    let deleteFromParentNode = tag.parentNode.parentNode;

                    if (deletedNode) {
                        deleteFromParentNode.removeChild(deletedNode);
                        topUploadParent.style.display = "block";
                    }
                };
                function getCombinations(arrays, prefix = [], results = []) {
                    if (prefix.length === arrays.length) {
                        results.push(prefix.slice());
                        return;
                    }

                    for (let i = 0; i < arrays[prefix.length].length; i++) {
                        prefix.push(arrays[prefix.length][i]);
                        getCombinations(arrays, prefix, results);
                        prefix.pop();
                    }
                    return results;
                }

                const Populate_variant_table = (tag, num) => {
                    let labelParent;
                    let table;
                    let tableHeadTr;

                    if (num) {
                        labelParent = document.getElementById(`varient_container__${num}`);
                        table = document.getElementById(`product_table_${num}`);
                        tableHeadTr = document.getElementById(`tableHeadTr_${num}`);


                    } else {
                        labelParent = document.getElementById(`varient_container_`);
                        table = document.getElementById(`product_table`);
                        tableHeadTr = document.getElementById(`tableHeadTr`);
                    }
                    let all_varient_table_labels = tableHeadTr.querySelectorAll(".varient_table_label");

                    Array.from(all_varient_table_labels).forEach(element => {
                        element.remove();
                    })

                    let varient_labels = labelParent.querySelectorAll("label")
                    let varient_uls = labelParent.querySelectorAll(".colorInputUL");

                    //  for (let i = 0; i < varient_labels.length; i++) {
                    //     const element = varient_labels[i];
                    //     console.log("varient_labels == ", varient_labels[i]); 
                    //  }
                    //  for (let i = 0; i < varient_uls.length; i++) {
                    //     const element = varient_uls[i];
                    //     console.log("varient_labels == ", varient_uls[i]); 
                    //  }


                    let varient_table_labels = [];


                    const values = []; //aikhane problem
                    let emptyUlIndex = [];

                    $(varient_uls).each(function (index, element) {
                        // console.log('element == ', element, element.querySelectorAll("li").length, 'index == ', index);
                        let inputArray = [];
                        if (element.querySelectorAll("li").length != "0") {
                            varient_table_labels.push(all_varient_table_labels[index]);
                            element.querySelectorAll("li").forEach(li => {
                                inputArray.push(li.innerText)
                            });
                            values.push(inputArray)
                        }
                        else emptyUlIndex.push(index)
                    });
                    console.log("emptyUlIndex === ", emptyUlIndex);

                    const combinations = getCombinations(values);

                    for (let i = varient_labels.length - 1; i >= 0; i--) {
                        console.log("the varient is === ", varient_labels[i]);
                        if (!emptyUlIndex.includes(i)) {
                            console.log("varient_labels each === ", i, varient_labels[i].textContent);
                            let th = document.createElement("th");
                            th.classList.add("varient_table_label");
                            th.innerHTML = varient_labels[i].textContent;
                            tableHeadTr.prepend(th);
                            console.log("tableHeadTr == ", tableHeadTr);
                        }
                        else console.log("include here ==");
                    }




                    // Array.from(varient_labels).reverse().forEach(label=>{
                    //     let th = document.createElement("th");
                    //     th.classList.add("varient_table_label");
                    //     th.innerHTML = label.textContent;
                    //     tableHeadTr.prepend(th); 
                    // });

                    tableHeadTr.children[0].style.borderTopLeftRadius = "10px"
                    table.innerHTML = "";
                    console.log(combinations);

                    combinations.forEach((combination, key) => {
                        let tr = document.createElement("tr");
                        tr.classList.add("tableBody");
                        combination.forEach((comb) => {
                            let td = document.createElement("td");
                            td.innerHTML = comb;
                            tr.appendChild(td);
                            console.log('hi', tr);
                        });


                        let input4 = document.createElement("input");
                        input4.setAttribute("name", "quantitys[]");
                        input4.classList.add("myInput");
                        input4.setAttribute("placeholder", "Qunatity");
                        let td4 = document.createElement("td");
                        td4.appendChild(input4);
                        tr.appendChild(td4);


                        let icon = document.createElement("i");
                        icon.classList.add(
                            "mdi",
                            "mdi-delete",
                            "text-danger",
                            "delete-table-data"
                        );
                        icon.setAttribute("id", "td_" + key);
                        icon.setAttribute("onclick", "tableDataDelete(this)");
                        icon.style.fontSize = "20px"
                        let td7 = document.createElement("td");
                        td7.style.textAlign = "center";
                        td7.appendChild(icon);
                        tr.appendChild(td7);
                        table.appendChild(tr);
                    });
                    let tableDataleftBox = table.querySelectorAll("tr")
                    let tableLastRow = tableDataleftBox[tableDataleftBox.length - 1];
                    let tableDataList = tableLastRow.querySelectorAll("td");
                    let firstTableData = tableDataList[0];
                    let lastTableData = tableDataList[tableDataList.length - 1];
                    firstTableData.style.borderBottomLeftRadius = "10px"
                    lastTableData.style.borderBottomRightRadius = "10px"

                };
                // End Populate_variant_table function 

                const tableDataDelete = (tag) => {
                    // let table = document.getElementById("product_table");
                    let deleteItem = tag.parentNode.parentNode;
                    let parentTable = tag.parentNode.parentNode.parentNode;
                    // console.log("the table is = ", table, deleteItem, parentTable);
                    parentTable.removeChild(deleteItem);
                };

                const table_content_dropdown_add = (tag, num) => {
                    count += 1;
                    let table_content = document.getElementById("table_content_dropdown_");
                    let table_content_container;
                    let new_content = table_content.cloneNode(true);
                    if (num) {
                        table_content_container = document.getElementById(`table_content_dropdown_box_${num}`)
                        // let new_content = table_content.cloneNode(true);
                        new_content.setAttribute("id", `table_content_dropdown_${num}_${count}`);

                        var innerIDs = [];

                        function collectInnerIDs(element) {
                            if (element.hasAttribute("onclick")) {
                                let onchangeIS = element.getAttribute("onclick");
                                var onclickParts = onchangeIS.split(',' || ' ');
                                if (onclickParts[0] == "deleteTableContent(this") {
                                    console.log("what is element === ", element);
                                    element.setAttribute("onclick", onclickParts[0] + ', ' + num + ')');
                                }
                            }

                            for (var i = 0; i < element.children.length; i++) {
                                collectInnerIDs(element.children[i]);
                            }
                        }

                        collectInnerIDs(new_content);
                    }
                    else {
                        table_content_container = document.getElementById(`table_content_dropdown_box`)
                        new_content.setAttribute("id", "table_content_dropdown_" + count);
                    }

                    new_content.classList.remove("d-none");
                    let firstChild = new_content.children[0];
                    let input = firstChild.children[0].children[1].children[0];
                    let dropDownMenu = firstChild.children[0].children[1].children[1];
                    console.log('firstChild', firstChild, input, dropDownMenu);

                    input.setAttribute("id", "contentsTitleInput_" + count);
                    input.setAttribute("onclick", "showContentDropdown(" + count + ")");
                    dropDownMenu.setAttribute("id", "dropdownMenu_" + count);
                    table_content_container.appendChild(new_content);
                };

                const deleteTableContent = (tag, num) => {
                    let table_content_container;
                    if (num) {
                        table_content_container = document.getElementById(`table_content_dropdown_box_${num}`)
                    }
                    else {
                        table_content_container = document.getElementById(`table_content_dropdown_box`)
                    }
                    let table_content = tag.parentNode.parentNode;
                    console.log("table_content", table_content_container, table_content);
                    table_content_container.removeChild(table_content);
                };

                const cancel = () => {
                    let product_table = document.getElementById("product_table");
                    const allInput = $(".main-contact-area").find("input");
                    const allSelect = $(".main-contact-area").find("select");
                    const allTextarea = $(".main-contact-area").find("textarea");
                    for (let i = 0; i < allInput.length; i++) {
                        allInput[i].value = "";
                    }
                    for (let i = 0; i < allSelect.length; i++) {
                        // allSelect[i].value = "";
                        allSelect[i].selectedIndex = 0;
                    }
                    product_table.innerHTML = "";
                    for (let i = 0; i < allTextarea.length; i++) {
                        allTextarea[i].value = "";
                    }
                };

                let findInput = 0;
                let oldDropdownContent = '';

                const showContentDropdown = (id, num) => {
                    let dropdownMenu_s;
                    if (num) {
                        dropdownMenu_s = document.getElementById(`dropdownMenu_${id}_${num}`);
                    }
                    else {
                        dropdownMenu_s = document.getElementById(`dropdownMenu_${id}`);
                    }
                    if (oldDropdownContent && !oldDropdownContent.classList.contains('d-none') && findInput != id) {
                        oldDropdownContent.classList.add('d-none')
                    }
                    dropdownMenu_s.classList.toggle("d-none");
                    findInput = id;
                    oldDropdownContent = dropdownMenu_s
                };



                document.addEventListener("click", function (event) {
                    var target = event.target
                    let dropdownBox = document.querySelectorAll(".dropdownBox");
                    if (target.tagName != 'INPUT') {
                        for (let i = 0; i < dropdownBox.length; i++) {
                            if (!dropdownBox[i].classList.contains('d-none')) {
                                dropdownBox[i].classList.add("d-none");
                            }
                        }
                    }
                })

                let allInputTags = document.querySelectorAll('input');
                $(allInputTags).each(function (index, element) {
                    element.addEventListener("input", function (e) {
                        let dropdownBox = document.querySelectorAll(".dropdownBox");
                        for (let i = 0; i < dropdownBox.length; i++) {
                            console.log("dropdownBox[i]", dropdownBox[i]);
                            if (!dropdownBox[i].classList.contains('d-none')) {
                                dropdownBox[i].classList.add("d-none");
                            }
                        }
                    })
                })

                function selectOption(tag, num) {
                    console.log(tag.innerText);
                    let textInput;
                    if (num) {
                        textInput = document.getElementById(`contentsTitleInput_${findInput}_${num}`);
                    }
                    else {
                        textInput = document.getElementById(`contentsTitleInput_${findInput}`);
                    }
                    let text = tag.innerText;
                    console.log(text);
                    textInput.value = text;

                    let parent = tag.parentNode;
                    parent.classList.add("d-none");

                    let tagInnerText = tag.innerText.trim();
                    // console.log(tagInnerText);

                    let sku = document.querySelector('#sku');
                    let upc = document.querySelector('#upc');

                    axios.post('/product/get_category', { tagInnerText })
                        .then(response => {
                            console.log(response.data);
                            if (response.data.success) {
                                upc.value = response.data.u_code;
                                let timestamp = Date.now().toString();
                                sku.value = response.data.u_code + timestamp;
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });



                }



                const openAdditionalSection = () => {
                    let area = document.getElementById("AdditionalArea");
                    area.classList.remove("d-none");
                };

                // window.addEventListener("click", function (event) {
                //     const dropdownMenu = document.getElementById("dropdownMenu_" + findInput);
                //     console.log("dropdownMenu", dropdownMenu);
                //     const textInput = document.getElementById(
                //         "contentsTitleInput_" + findInput
                //     );
                //     let allClassList = dropdownMenu.classList.value;
                //     const classListArray = allClassList.split(" ");
                //     classListArray.find((className) => {
                //         if (!textInput.contains(event.target)) {
                //             if (!className.includes("d-none")) {
                //                 dropdownMenu.classList.add("d-none");
                //             }
                //         }
                //     });
                // });

                const removeSecondaryImg = (tag) => {
                    let parentImgContainer = tag.parentNode.parentNode;
                    let imge_cotainer = tag.parentNode;
                    parentImgContainer.removeChild(imge_cotainer);
                };

                const secondary_image_changed = (tag, ind) => {
                    // const previewContainer = document.getElementById("secondary-img-container");
                    let previewContainer;
                    if (ind) {
                        previewContainer = document.getElementById(`secondary-img-container_${ind}`);
                    } else {
                        previewContainer = document.getElementById(`secondary-img-container`);
                    }
                    // const previewContainer = document.querySelector(
                    //     ".secondary-img-container"
                    // );
                    // const secondaryImageAdder = document.querySelector(
                    //     ".secondary-img-container"
                    // );

                    // previewContainer.innerHTML = ''; // Clear previous previews
                    if (tag.files && tag.files.length > 0) {
                        for (let i = 0; i < tag.files.length; i++) {
                            const file = tag.files[i];
                            const reader = new FileReader();
                            reader.onload = function (e) {
                                // const input = document.createElement("input");
                                // input.type = "file";
                                // input.classList.add("d-none");
                                // input.files[0] = reader.result;
                                // input.setAttribute("name", "secondary_images[]");
                                // const fileList = new DataTransfer(); // Create a new FileList object and add the selected file to it
                                // fileList.items.add(file);
                                // console.log('previewContainer',fileList);
                                // input.files = fileList.files; // Assign the new FileList to the main page image field

                                const div = document.createElement("div");
                                div.style.width = "90px";
                                div.style.height = "90px";
                                div.style.background = `url(${e.target.result})`;
                                div.style.backgroundSize = 'cover';
                                div.style.marginRight = "8px";
                                div.style.marginBottom = "8px";

                                div.classList.add("position-relative");
                                const span = document.createElement("span");
                                span.innerHTML =
                                    '<i class="mdi mdi-close" style="font-size:22px;color:red;border:1px solid transparent;"></i>';
                                span.classList.add("position-absolute");
                                // span.setAttribute("onclick", `removeSecondaryImg(${i})`);
                                span.setAttribute("onclick", `removeSecondaryImg(this)`);
                                span.style.top = "0";
                                span.style.right = "0px";
                                span.style.cursor = "pointer";
                                div.append(span);
                                // const img = document.createElement("img");
                                // img.src = e.target.result;
                                // img.alt = `Preview Image ${i + 1}`;
                                // img.style.width = "100%";
                                // img.style.height = "auto";
                                // console.log(img);
                                div.setAttribute("id", `secondary_img_preview_${i}`);
                                // div.append(input);
                                // div.append(img);
                                previewContainer.prepend(div);
                            };
                            reader.readAsDataURL(tag.files[i]);
                        }
                        //   previewContainer.append(secondaryImageAdder);
                    }
                };


                const save_varient = (tag, num) => {
                    console.log('save the varient ====');
                    let varient_container;
                    let custom_variant;
                    let newVarientUl;
                    let modal_varient_name;
                    let varientLabelInput;
                    let varientTagUlInput;
                    if (num) {
                        varient_container = document.getElementById(`varient_container__${num}`);
                        custom_variant = document.getElementById(`custom_variant_${num}`);
                        newVarientUl = document.getElementById(`addNewVarient_${num}`)
                        modal_varient_name = document.getElementById(`modal_varient_name_${num}`).value;
                        varientLabelInput = document.getElementById(`modal_varient_name_${num}`)
                        varientTagUlInput = document.getElementById(`addNewVarient_${num}`)

                    } else {
                        varient_container = document.getElementById(`varient_container_`);
                        custom_variant = document.getElementById(`custom_variant`);
                        newVarientUl = document.getElementById("addNewVarient")
                        modal_varient_name = document.getElementById("modal_varient_name").value;
                        varientLabelInput = document.getElementById(`modal_varient_name`)
                        varientTagUlInput = document.getElementById(`addNewVarient`)
                    }


                    // let modal_varient_name = document.querySelector(
                    //     "#modal_varient_name"
                    // ).value;

                    // let varient_container = document.querySelector("#varient_container_");
                    // varient_container.classList.add("colorVariantBox");
                    let data = [];
                    let varientLi = newVarientUl.querySelectorAll("li");
                    varientLi.forEach((li) => {
                        data.push(li.innerText)
                    })
                    // let data = $(custom_variant).select2("val");

                    let colorVariantBox = document.createElement("div");
                    colorVariantBox.classList.add("col-lg-4", "col-md-6", "col-sm-12", "colorVariantBox", "mt-3");
                    let variantInnderBox = document.createElement('div')
                    variantInnderBox.style.backgroundColor = "white";
                    variantInnderBox.style.borderRadius = "5px";
                    variantInnderBox.style.padding = "10px";
                    let label2 = document.createElement("label");
                    label2.classList.add('varient_label', "inline-block", "d-flex", "justify-content-between", "align-items-center");
                    label2.innerText = modal_varient_name;
                    // label2.classList.add("inline-block");
                    // label2.classList.add("varient_label");
                    // label2.classList.add("d-flex");
                    // label2.classList.add("justify-content-between");
                    // label2.classList.add("align-items-center");
                    // label2.style.marginTop = "20px";
                    // x-mark
                    let x_span = document.createElement("span");
                    x_span.setAttribute(
                        "onclick",
                        "this.parentNode.parentNode.parentNode.remove()"
                    );
                    x_span.innerHTML =
                        '<i class="fa-solid mdi mdi-close" style="font-size:20px;color:skyblue;border-radius:50%;cursor:pointer;"></i>';
                    label2.append(x_span);
                    let dropdownPositionDiv = document.createElement("div");
                    dropdownPositionDiv.classList.add("position-relative")
                    let ul = document.createElement("ul");
                    ul.classList.add('colorInputUL');
                    ul.style.marginBottom = "0px";
                    ul.setAttribute("onclick", "showColorDropDown(this)");
                    let inputInUL = document.createElement("input");
                    inputInUL.setAttribute("class", "tagIntpus");
                    inputInUL.setAttribute("type", "text");
                    inputInUL.setAttribute("spellcheck", "false");
                    inputInUL.setAttribute("placeholder", "Write here for tag");
                    inputInUL.setAttribute("onkeypress", "return event.keyCode != 13;");
                    ul.append(inputInUL);

                    let dropdownOptionBox = document.createElement('div');
                    dropdownOptionBox.classList.add("dropdownBox", "d-none");
                    dropdownOptionBox.style.height = "200px";
                    dropdownOptionBox.style.overflowY = "auto"
                    let dropdownUL = document.createElement('ul');
                    data.forEach((element) => {
                        let li = document.createElement("li");
                        onclick = "getValueFronDropDown(this)"
                        li.setAttribute("onclick", "getValueFronDropDown(this)")
                        li.textContent = element;
                        dropdownUL.append(li);
                    });

                    // dropdownOptionBox.append(ul);
                    dropdownOptionBox.append(dropdownUL);
                    dropdownPositionDiv.append(ul);
                    dropdownPositionDiv.append(dropdownOptionBox);
                    variantInnderBox.append(label2);
                    variantInnderBox.append(dropdownPositionDiv);
                    colorVariantBox.append(variantInnderBox);
                    varient_container.append(colorVariantBox)

                    // Create a new script element
                    const newScript = document.createElement("script");

                    // Set the script content
                    newScript.textContent = `
                                $("#varient-select2-${modal_varient_name}").select2({
                                tags: true,
                                tokenSeparators: [',', ' '],
                                dropdownParent: $('.addProduct___'),
                                placeholder: "Select Product Color",
                                allowClear: true
                                });
                                `;

                    // Append the new script to the document body
                    document.body.appendChild(newScript);

                    varientLabelInput.value = '';
                    let varientTagUlInputLi = varientTagUlInput.querySelectorAll('li');
                    for (let i = 0; i < varientTagUlInputLi.length; i++) {
                        console.log(varientTagUlInputLi[i]);
                        varientTagUlInputLi[i].remove();
                        // removarientTagUlInputLi[i];
                    }
                    //  console.log("varientTagInput", varientTagInput.querySelectorAll('li'));;
                };

            </script>

            <!-- data table js -->
            <!-- <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    </script> -->

            <script>
                var table;

                $(document).ready(function () {
                    table = $('#product_category').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'],
                        scrollX: true,
                        scrollY: true,

                        // select: {
                        //     style: 'multi', // Enable multiple row selection
                        //     selector: 'td input', // Use the first column for selection
                        // },
                    });

                    // $('#select-all-checkbox').on('click', function () {
                    //     var isChecked = $(this).prop('checked');
                    //     $('input.row-checkbox', table.rows().nodes()).prop('checked', isChecked);
                    //     table.rows().select(isChecked);
                    // });
                });
            </script>

            <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
            <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

            <!-- <script>
        const selectAll = () => {
            let select_all = document.querySelector('#select-all-checkbox');

            let one_checkbox = document.querySelector('.row-checkbox');
            console.log(select_all);
            select_all.addEventListener(() => {
                one_checkbox.setAttribute('selected');
            })


        }
    </script> -->


            <!-- pages category js -->
            <script>
                //  products Checkout Social
                let home_id = document.querySelector('#home');
                let home_cls = document.querySelector('.homee');

                let products_id = document.querySelector('#products');
                let products_cls = document.querySelector('.productss');

                let checkout_id = document.querySelector('#checkout');
                let checkout_cls = document.querySelector('.checkoutt');

                let social_id = document.querySelector('#social');
                let social_cls = document.querySelector('.sociall');

                let others_id = document.querySelector('#others');
                let others_cls = document.querySelector('.otherss');

                home_id.addEventListener('click', () => {
                    if (home_cls.classList.contains('d-none')) {
                        home_cls.classList.remove('d-none');
                        products_cls.classList.add('d-none');
                        checkout_cls.classList.add('d-none');
                        social_cls.classList.add('d-none');
                        others_cls.classList.add('d-none');
                    }

                });

                products_id.addEventListener('click', () => {
                    console.log('product id clicked');
                    if (products_cls.classList.contains('d-none')) {
                        home_cls.classList.add('d-none');
                        products_cls.classList.remove('d-none');
                        checkout_cls.classList.add('d-none');
                        social_cls.classList.add('d-none');
                        others_cls.classList.add('d-none');
                    }
                });
                checkout_id.addEventListener('click', () => {
                    home_cls.classList.add('d-none');
                    products_cls.classList.add('d-none');
                    checkout_cls.classList.remove('d-none');
                    social_cls.classList.add('d-none');
                    others_cls.classList.add('d-none');
                });
                social_id.addEventListener('click', () => {
                    home_cls.classList.add('d-none');
                    products_cls.classList.add('d-none');
                    checkout_cls.classList.add('d-none');
                    social_cls.classList.remove('d-none');
                    others_cls.classList.add('d-none');
                });
                others_id.addEventListener('click', () => {
                    home_cls.classList.add('d-none');
                    products_cls.classList.add('d-none');
                    checkout_cls.classList.add('d-none');
                    social_cls.classList.add('d-none');
                    others_cls.classList.remove('d-none');
                });


            </script>

</body>

</html>