<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Add Expense</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Plugins css -->
    <link href="/assets/libs/mohithg-switchery/switchery.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- icons -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

</head>

<!-- body start -->

<body class="loading" data-layout-color="light" data-layout-mode="default" data-layout-size="fluid" data-topbar-color="light" data-leftbar-position="fixed" data-leftbar-color="light" data-leftbar-size='default' data-sidebar-user='true'>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top bar Start -->
        <%- include('../layouts/topbar.ejs') -%>
            <!-- end Topbar -->

            <!-- Left Sidebar Start ========== -->
            <%- include('../layouts/left_sidebar.ejs') -%>
                <!-- Left Sidebar End -->

                <!-- Start Page Content here -->
                <div class="content-page mt-5" style="background: #F9F9F9;">
                    <div class="content">

                        <div class="bg-white p-3 mb-2">

                            <h4 class="text-black font-bold mb-3">Add Expense</h4>

                            <div style="color: rgb(97 97 97); margin-right: 0.5rem">
                                <span>Expense</span>
                                <span>></span>
                                <span>Add Expense</span>
                            </div>
                        </div>

                        <!-- Start Content-->
                        <div class="container-fluid card p-4">

                            <form action="/expense/post_expense" method="post">

                                <div class="row">

                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                                        <label for="date" class="form-label">Date</label>
                                        <input class="form-control custom-date-input" id="date" type="date" name="date" placeholder="MM/DD/YYYY" pattern="\d{2}/\d{2}/\d{4}" min="">
                                    </div>

                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                                        <label for="expense_type" class="form-label">Expense Type</label>
                                        <select class="form-control" data-toggle="select2" data-width="100%" name="expense_type" style="background: #FCFCFC!important;">
                                            <!-- <option>Direct Expense</option> -->
                                            <optgroup label="">
                                                <option value="direct_expense">Direct Expense</option>
                                                <option value="draft_enpense">Draft Expense</option>
                                            </optgroup>

                                        </select>
                                    </div>

                                    <style>
                                        .select2-container--default .select2-selection--single {
                                            background: #FCFCFC !important;
                                            color: #444 !important;
                                        }

                                        .form-control {
                                            background: #FCFCFC !important;
                                            color: #444 !important;
                                        }
                                    </style>

                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-4" style="background: #FCFCFC!important;">
                                        <label for="category" class="form-label">Category</label>
                                        <select class="form-control" data-toggle="select2" data-width="100%" name="expense_category">
                                            <!-- <option>Electrics</option> -->
                                            <optgroup label="">
                                                <option value="united_state">Electrics</option>
                                                <option value="united_state">Shoe</option>
                                                <option value="canada">Clothes</option>
                                                <option value="bag">Bag</option>
                                                <option value="maxico">Computer</option>
                                                <option value="france">Laptop</option>
                                                <option value="germany">Germany</option>
                                            </optgroup>
                                        </select>
                                    </div>

                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                                        <label for="voucher_no" class="form-label">Voucher No</label>
                                        <input type="text" id="voucher_no" class="form-control" placeholder="748" name="voucher_no" style="background: #FCFCFC!important;">
                                    </div>


                                    <!-- <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-5">
                                <label class="form-label">Amount</label>
                                <input data-toggle="touchspin" type="text" name="amount" placeholder="4.470" style="background: #FCFCFC!important;">
                            </div> -->

                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-4" style="margin-bottom: 10px;">
                                        <div class="form-group " style="background-color: white; border-radius: 5px; padding:10px">
                                            <label class="">Amount</label>
                                            <input type="number" class="form-control" placeholder="100" name="amount" onkeypress="return event.keyCode != 13;">
                                        </div>
                                    </div>


                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                                        <label class="" for="purchase_notes">Purchase Notes:</label>
                                        <textarea id="textarea" class="form-control" maxlength="225" rows="7" cols="" placeholder="TYPE Text...." name="description" style="background: #FCFCFC;"></textarea>
                                    </div>

                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                                    </div>

                                </div>

                            </form>


                        </div>
                        <!-- container-fluid -->

                    </div> <!-- content -->

                    <!-- Footer Start -->

                    <%- include('../layouts/footer.ejs') -%>


                        <!-- end Footer -->

                </div>
                <!-- End Page content -->


    </div>
    <!-- END wrapper -->

    <!-- Right Sidebar -->
    <%- include('../layouts/right_sidebar') -%>

        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- Vendor -->
        <script src="/assets/libs/jquery/jquery.min.js"></script>
        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="/assets/libs/node-waves/waves.min.js"></script>
        <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="/assets/libs/feather-icons/feather.min.js"></script>

        <script src="/assets/libs/selectize/js/standalone/selectize.min.js"></script>
        <script src="/assets/libs/mohithg-switchery/switchery.min.js"></script>
        <script src="/assets/libs/multiselect/js/jquery.multi-select.js"></script>
        <script src="/assets/libs/select2/js/select2.min.js"></script>
        <script src="/assets/libs/jquery-mockjax/jquery.mockjax.min.js"></script>
        <script src="/assets/libs/devbridge-autocomplete/jquery.autocomplete.min.js"></script>
        <script src="/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
        <script src="https://coderthemes.com/adminto/layouts//assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

        <!-- Init js-->
        <script src="/assets/js/pages/form-advanced.init.js"></script>

        <!-- App js -->
        <script src="/assets/js/app.min.js"></script>

        <!-- date setup in min attributes -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js"></script>

        <script>
            // Set the timezone to Bangladesh
            moment.tz.setDefault("Asia/Dhaka");
            // Get the current date in "YYYY-MM-DD" format
            var currentDate = moment().format("YYYY-MM-DD");
            console.log('currentDate', currentDate);
            // Set the min attribute of the date input
            document.getElementById("date").min = currentDate;
        </script>

</body>

</html>